In [ ]:
pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# import os
# os.getcwd()

In [ ]:
# os.chdir('C:\\Users\\tahere\\Desktop\\content')
# os.getcwd()

In [ ]:
start_all=time.time()

#BOT-IOT dataset

##import bot-iot dataset

In [ ]:
s=time.time()
dataset=pd.read_excel('/content/drive/MyDrive/step3/dataset.xlsx', engine='openpyxl')
e=time.time()
sf_time= e-s
sf_time

166.84776091575623

In [ ]:
dataset

,pkSeqID,stime,flgs,flgs_number,proto,proto_number,saddr,sport,daddr,dport,...,AR_P_Proto_P_DstIP,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,AR_P_Proto_P_Sport,AR_P_Proto_P_Dport,Pkts_P_State_P_Protocol_P_DestIP,Pkts_P_State_P_Protocol_P_SrcIP,attack,category,subcategory
0,2594359,1.528096e+09,e s,2,tcp,1,192.168.100.147,41788,192.168.100.3,80,...,0.120031,100,100,0.134867,0.120031,396,396,1,DDoS,TCP
1,2576875,1.528096e+09,e s,2,tcp,1,192.168.100.148,22741,192.168.100.3,80,...,0.180796,100,89,0.158467,0.180796,659,659,1,DDoS,TCP
2,2966518,1.528099e+09,e,1,udp,3,192.168.100.147,60331,192.168.100.3,80,...,1.097860,100,100,1.097860,1.097860,1500,1500,1,DDoS,UDP
3,2391310,1.528096e+09,e s,2,tcp,1,192.168.100.150,56409,192.168.100.3,80,...,0.378991,100,100,0.521621,0.378991,84,84,1,DDoS,TCP
4,2844854,1.528099e+09,e,1,udp,3,192.168.100.150,46002,192.168.100.3,80,...,0.546667,100,99,0.544177,0.546667,603,594,1,DDoS,UDP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290524,3640660,1.526349e+09,e,1,udp,3,192.168.100.148,63061,192.168.100.5,35777,...,7710.720000,58,15,9401.710000,8474.580000,58,15,1,Reconnaissance,Service_Scan
290525,3635361,1.526349e+09,e,1,tcp,1,192.168.100.148,48968,192.168.100.5,49163,...,3227.990000,100,93,3151.530000,2869.440000,200,186,1,Reconnaissance,Service_Scan
290526,3660781,1.526350e+09,eU,6,udp,3,192.168.100.150,41433,192.168.100.5,45380,...,8745.480000,58,15,8358.660000,5076.140000,58,15,1,Reconnaissance,Service_Scan
290527,3593919,1.526876e+09,e,1,tcp,1,192.168.100.148,55499,192.168.100.7,1072,...,3270.630000,100,100,3270.630000,31250.000000,201,201,1,Reconnaissance,OS_Fingerprint
290528,3577785,1.526876e+09,e,1,tcp,1,192.168.100.150,46997,192.168.100.3,3737,...,17471.800000,100,100,17471.800000,14598.500000,200,200,1,Reconnaissance,OS_Fingerprint

##check & fill miss value

In [ ]:
dataset.isnull().sum()

pkSeqID                             0
stime                               0
flgs                                0
flgs_number                         0
proto                               0
proto_number                        0
saddr                               0
sport                               0
daddr                               0
dport                               0
pkts                                0
bytes                               0
state                               0
state_number                        0
ltime                               0
seq                                 0
dur                                 0
mean                                0
stddev                              0
sum                                 0
min                                 0
max                                 0
spkts                               0
dpkts                               0
sbytes                              0
dbytes                              0
rate                                0
srate                               0
drate                               0
TnBPSrcIP                           0
TnBPDstIP                           0
TnP_PSrcIP                          0
TnP_PDstIP                          0
TnP_PerProto                        0
TnP_Per_Dport                       0
AR_P_Proto_P_SrcIP                  0
AR_P_Proto_P_DstIP                  0
N_IN_Conn_P_DstIP                   0
N_IN_Conn_P_SrcIP                   0
AR_P_Proto_P_Sport                  0
AR_P_Proto_P_Dport                  0
Pkts_P_State_P_Protocol_P_DestIP    0
Pkts_P_State_P_Protocol_P_SrcIP     0
attack                              0
category                            0
subcategory                         0
dtype: int64

In [ ]:
dataset

,pkSeqID,stime,flgs,flgs_number,proto,proto_number,saddr,sport,daddr,dport,...,AR_P_Proto_P_DstIP,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,AR_P_Proto_P_Sport,AR_P_Proto_P_Dport,Pkts_P_State_P_Protocol_P_DestIP,Pkts_P_State_P_Protocol_P_SrcIP,attack,category,subcategory
0,2594359,1.528096e+09,e s,2,tcp,1,192.168.100.147,41788,192.168.100.3,80,...,0.120031,100,100,0.134867,0.120031,396,396,1,DDoS,TCP
1,2576875,1.528096e+09,e s,2,tcp,1,192.168.100.148,22741,192.168.100.3,80,...,0.180796,100,89,0.158467,0.180796,659,659,1,DDoS,TCP
2,2966518,1.528099e+09,e,1,udp,3,192.168.100.147,60331,192.168.100.3,80,...,1.097860,100,100,1.097860,1.097860,1500,1500,1,DDoS,UDP
3,2391310,1.528096e+09,e s,2,tcp,1,192.168.100.150,56409,192.168.100.3,80,...,0.378991,100,100,0.521621,0.378991,84,84,1,DDoS,TCP
4,2844854,1.528099e+09,e,1,udp,3,192.168.100.150,46002,192.168.100.3,80,...,0.546667,100,99,0.544177,0.546667,603,594,1,DDoS,UDP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290524,3640660,1.526349e+09,e,1,udp,3,192.168.100.148,63061,192.168.100.5,35777,...,7710.720000,58,15,9401.710000,8474.580000,58,15,1,Reconnaissance,Service_Scan
290525,3635361,1.526349e+09,e,1,tcp,1,192.168.100.148,48968,192.168.100.5,49163,...,3227.990000,100,93,3151.530000,2869.440000,200,186,1,Reconnaissance,Service_Scan
290526,3660781,1.526350e+09,eU,6,udp,3,192.168.100.150,41433,192.168.100.5,45380,...,8745.480000,58,15,8358.660000,5076.140000,58,15,1,Reconnaissance,Service_Scan
290527,3593919,1.526876e+09,e,1,tcp,1,192.168.100.148,55499,192.168.100.7,1072,...,3270.630000,100,100,3270.630000,31250.000000,201,201,1,Reconnaissance,OS_Fingerprint
290528,3577785,1.526876e+09,e,1,tcp,1,192.168.100.150,46997,192.168.100.3,3737,...,17471.800000,100,100,17471.800000,14598.500000,200,200,1,Reconnaissance,OS_Fingerprint

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290529 entries, 0 to 290528
Data columns (total 46 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   pkSeqID                           290529 non-null  int64
 1   stime                             290529 non-null  float64
 2   flgs                              290529 non-null  object
 3   flgs_number                       290529 non-null  int64
 4   proto                             290529 non-null  object
 5   proto_number                      290529 non-null  int64
 6   saddr                             290529 non-null  object
 7   sport                             290529 non-null  object
 8   daddr                             290529 non-null  object
 9   dport                             290529 non-null  object
 10  pkts                              290529 non-null  int64
 11  bytes                             290529 non-null  int64
 12  state                             290529 non-null  object
 13  state_number                      290529 non-null  int64
 14  ltime                             290529 non-null  float64
 15  seq                               290529 non-null  int64
 16  dur                               290529 non-null  float64
 17  mean                              290529 non-null  float64
 18  stddev                            290529 non-null  float64
 19  sum                               290529 non-null  float64
 20  min                               290529 non-null  float64
 21  max                               290529 non-null  float64
 22  spkts                             290529 non-null  int64
 23  dpkts                             290529 non-null  int64
 24  sbytes                            290529 non-null  int64
 25  dbytes                            290529 non-null  int64
 26  rate                              290529 non-null  float64
 27  srate                             290529 non-null  float64
 28  drate                             290529 non-null  float64
 29  TnBPSrcIP                         290529 non-null  int64
 30  TnBPDstIP                         290529 non-null  int64
 31  TnP_PSrcIP                        290529 non-null  int64
 32  TnP_PDstIP                        290529 non-null  int64
 33  TnP_PerProto                      290529 non-null  int64
 34  TnP_Per_Dport                     290529 non-null  int64
 35  AR_P_Proto_P_SrcIP                290529 non-null  float64
 36  AR_P_Proto_P_DstIP                290529 non-null  float64
 37  N_IN_Conn_P_DstIP                 290529 non-null  int64
 38  N_IN_Conn_P_SrcIP                 290529 non-null  int64
 39  AR_P_Proto_P_Sport                290529 non-null  float64
 40  AR_P_Proto_P_Dport                290529 non-null  float64
 41  Pkts_P_State_P_Protocol_P_DestIP  290529 non-null  int64
 42  Pkts_P_State_P_Protocol_P_SrcIP   290529 non-null  int64
 43  attack                            290529 non-null  int64
 44  category                          290529 non-null  object
 45  subcategory                       290529 non-null  object
dtypes: float64(15), int64(22), object(9)
memory usage: 102.0+ MB

In [ ]:
dataset.nunique()

pkSeqID                             290529
stime                               178283
flgs                                     9
flgs_number                              9
proto                                    5
proto_number                             5
saddr                                   21
sport                                63365
daddr                                   84
dport                                 4237
pkts                                   116
bytes                                  971
state                                   11
state_number                            11
ltime                               181745
seq                                 157389
dur                                 145907
mean                                121869
stddev                              104753
sum                                 148587
min                                  59871
max                                 128267
spkts                                   86
dpkts                                   60
sbytes                                 678
dbytes                                 455
rate                                 58800
srate                                48288
drate                                12518
TnBPSrcIP                             6913
TnBPDstIP                             6272
TnP_PSrcIP                            1261
TnP_PDstIP                            1395
TnP_PerProto                          1288
TnP_Per_Dport                         1313
AR_P_Proto_P_SrcIP                   27870
AR_P_Proto_P_DstIP                   23494
N_IN_Conn_P_DstIP                      100
N_IN_Conn_P_SrcIP                      100
AR_P_Proto_P_Sport                   57827
AR_P_Proto_P_Dport                   27869
Pkts_P_State_P_Protocol_P_DestIP      1400
Pkts_P_State_P_Protocol_P_SrcIP       1258
attack                                   2
category                                 5
subcategory                              8
dtype: int64

##remove redandant feature

In [ ]:
dataset=dataset.drop(['pkSeqID','attack','subcategory','stime','ltime','flgs','proto','saddr','daddr','state'],axis=1)

In [ ]:
dataset.shape

(290529, 36)

##change columns type

In [ ]:
dataset=dataset[(dataset.sport != "0x000d" )]
dataset=dataset[(dataset.sport != "0x0008" )]
dataset=dataset[(dataset.sport != "0x0011" )]
dataset=dataset[(dataset.sport != "0x0303" )]
dataset['sport']=pd.to_numeric(dataset['sport'],downcast='float')

In [ ]:
dataset['dport']=pd.to_numeric(dataset['dport'],downcast='float')

In [ ]:
dataset

,flgs_number,proto_number,sport,dport,pkts,bytes,state_number,seq,dur,mean,...,TnP_Per_Dport,AR_P_Proto_P_SrcIP,AR_P_Proto_P_DstIP,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,AR_P_Proto_P_Sport,AR_P_Proto_P_Dport,Pkts_P_State_P_Protocol_P_DestIP,Pkts_P_State_P_Protocol_P_SrcIP,category
0,2,1,41788.0,80.0,6,736,1,156672,44.488319,0.081464,...,532,0.120031,0.120031,100,100,0.134867,0.120031,396,396,DDoS
1,2,1,22741.0,80.0,7,890,1,139188,44.173359,0.050757,...,795,0.185537,0.180796,100,89,0.158467,0.180796,659,659,DDoS
2,1,3,60331.0,80.0,15,900,4,75740,13.662967,3.906158,...,1500,1.097860,1.097860,100,100,1.097860,1.097860,1500,1500,DDoS
3,2,1,56409.0,80.0,6,736,1,215770,11.502605,3.783005,...,428,0.378991,0.378991,100,100,0.521621,0.378991,84,84,DDoS
4,1,3,46002.0,80.0,6,360,4,216237,11.025832,4.504828,...,603,0.544176,0.546667,100,99,0.544177,0.546667,603,594,DDoS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290524,1,3,63061.0,35777.0,1,60,4,17204,0.000000,0.000000,...,2,7462.690000,7710.720000,58,15,9401.710000,8474.580000,58,15,Reconnaissance
290525,1,1,48968.0,49163.0,2,120,1,11685,0.000697,0.000697,...,2,3151.530000,3227.990000,100,93,3151.530000,2869.440000,200,186,Reconnaissance
290526,6,3,41433.0,45380.0,1,60,4,1302,0.000197,0.000197,...,1,7894.740000,8745.480000,58,15,8358.660000,5076.140000,58,15,Reconnaissance
290527,1,1,55499.0,1072.0,2,120,1,16729,0.000064,0.000064,...,2,3270.630000,3270.630000,100,100,3270.630000,31250.000000,201,201,Reconnaissance
290528,1,1,46997.0,3737.0,2,120,1,506,0.000137,0.000137,...,2,17471.800000,17471.800000,100,100,17471.800000,14598.500000,200,200,Reconnaissance

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281622 entries, 0 to 290528
Data columns (total 36 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   flgs_number                       281622 non-null  int64
 1   proto_number                      281622 non-null  int64
 2   sport                             281622 non-null  float32
 3   dport                             281622 non-null  float32
 4   pkts                              281622 non-null  int64
 5   bytes                             281622 non-null  int64
 6   state_number                      281622 non-null  int64
 7   seq                               281622 non-null  int64
 8   dur                               281622 non-null  float64
 9   mean                              281622 non-null  float64
 10  stddev                            281622 non-null  float64
 11  sum                               281622 non-null  float64
 12  min                               281622 non-null  float64
 13  max                               281622 non-null  float64
 14  spkts                             281622 non-null  int64
 15  dpkts                             281622 non-null  int64
 16  sbytes                            281622 non-null  int64
 17  dbytes                            281622 non-null  int64
 18  rate                              281622 non-null  float64
 19  srate                             281622 non-null  float64
 20  drate                             281622 non-null  float64
 21  TnBPSrcIP                         281622 non-null  int64
 22  TnBPDstIP                         281622 non-null  int64
 23  TnP_PSrcIP                        281622 non-null  int64
 24  TnP_PDstIP                        281622 non-null  int64
 25  TnP_PerProto                      281622 non-null  int64
 26  TnP_Per_Dport                     281622 non-null  int64
 27  AR_P_Proto_P_SrcIP                281622 non-null  float64
 28  AR_P_Proto_P_DstIP                281622 non-null  float64
 29  N_IN_Conn_P_DstIP                 281622 non-null  int64
 30  N_IN_Conn_P_SrcIP                 281622 non-null  int64
 31  AR_P_Proto_P_Sport                281622 non-null  float64
 32  AR_P_Proto_P_Dport                281622 non-null  float64
 33  Pkts_P_State_P_Protocol_P_DestIP  281622 non-null  int64
 34  Pkts_P_State_P_Protocol_P_SrcIP   281622 non-null  int64
 35  category                          281622 non-null  object
dtypes: float32(2), float64(13), int64(20), object(1)
memory usage: 77.3+ MB

##shuffle dataset

In [ ]:
dataset= dataset.sample(frac = 1)

##split data to x & y

In [ ]:
y=dataset['category']
X=dataset.iloc[:,0:-1]
X

,flgs_number,proto_number,sport,dport,pkts,bytes,state_number,seq,dur,mean,...,TnP_PerProto,TnP_Per_Dport,AR_P_Proto_P_SrcIP,AR_P_Proto_P_DstIP,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,AR_P_Proto_P_Sport,AR_P_Proto_P_Dport,Pkts_P_State_P_Protocol_P_DestIP,Pkts_P_State_P_Protocol_P_SrcIP
235882,1,1,35996.0,2006.0,2,134,1,27055,0.000980,0.000980,...,208,2,25.118700,25.118700,100,100,2040.820000,2040.820000,208,208
194215,1,3,41394.0,80.0,11,660,4,153957,25.096107,4.527031,...,1100,1100,0.438260,0.438260,100,100,0.438315,0.438260,1100,1100
130868,1,1,3900.0,80.0,3,274,1,235784,0.162942,0.162942,...,300,300,18.312300,18.312300,100,100,18.411500,18.312300,300,300
159846,5,1,43136.0,80.0,6,548,1,192477,28.320900,0.140242,...,548,548,0.211858,0.211858,48,48,0.211858,0.203300,288,288
55773,1,3,47280.0,80.0,13,780,4,80441,14.280066,4.001678,...,1197,1197,0.910335,0.830052,100,71,0.910360,0.830052,1197,923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5954,1,3,12269.0,80.0,5,300,4,103684,12.857875,2.942011,...,523,523,0.406755,0.406755,100,100,0.388867,0.406755,523,523
145113,1,3,26688.0,80.0,10,600,4,32772,29.243759,1.752940,...,1000,1000,0.341963,0.341963,100,100,0.341953,0.341963,1000,1000
102339,1,3,57466.0,80.0,6,360,4,249457,21.570436,4.387115,...,600,600,0.278191,0.278191,100,100,0.278158,0.278191,600,600
14298,2,1,40516.0,80.0,7,890,1,238143,11.999708,2.098042,...,477,477,0.516747,0.409988,100,35,0.583347,0.409988,147,147
68458,2,1,25624.0,80.0,5,770,3,169180,12.835119,2.149765,...,500,500,0.389533,0.389533,100,100,0.389556,0.389533,500,500

In [ ]:
y.shape, X.shape

((281622,), (281622, 35))

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281622 entries, 235882 to 68458
Data columns (total 35 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   flgs_number                       281622 non-null  int64
 1   proto_number                      281622 non-null  int64
 2   sport                             281622 non-null  float32
 3   dport                             281622 non-null  float32
 4   pkts                              281622 non-null  int64
 5   bytes                             281622 non-null  int64
 6   state_number                      281622 non-null  int64
 7   seq                               281622 non-null  int64
 8   dur                               281622 non-null  float64
 9   mean                              281622 non-null  float64
 10  stddev                            281622 non-null  float64
 11  sum                               281622 non-null  float64
 12  min                               281622 non-null  float64
 13  max                               281622 non-null  float64
 14  spkts                             281622 non-null  int64
 15  dpkts                             281622 non-null  int64
 16  sbytes                            281622 non-null  int64
 17  dbytes                            281622 non-null  int64
 18  rate                              281622 non-null  float64
 19  srate                             281622 non-null  float64
 20  drate                             281622 non-null  float64
 21  TnBPSrcIP                         281622 non-null  int64
 22  TnBPDstIP                         281622 non-null  int64
 23  TnP_PSrcIP                        281622 non-null  int64
 24  TnP_PDstIP                        281622 non-null  int64
 25  TnP_PerProto                      281622 non-null  int64
 26  TnP_Per_Dport                     281622 non-null  int64
 27  AR_P_Proto_P_SrcIP                281622 non-null  float64
 28  AR_P_Proto_P_DstIP                281622 non-null  float64
 29  N_IN_Conn_P_DstIP                 281622 non-null  int64
 30  N_IN_Conn_P_SrcIP                 281622 non-null  int64
 31  AR_P_Proto_P_Sport                281622 non-null  float64
 32  AR_P_Proto_P_Dport                281622 non-null  float64
 33  Pkts_P_State_P_Protocol_P_DestIP  281622 non-null  int64
 34  Pkts_P_State_P_Protocol_P_SrcIP   281622 non-null  int64
dtypes: float32(2), float64(13), int64(20)
memory usage: 75.2 MB

In [ ]:
X=X.astype({'flgs_number': 'float','proto_number': 'float', 'pkts': 'float','bytes': 'float','state_number': 'float','spkts': 'float','dpkts': 'float', 'sbytes':'float', 'dbytes':'float'})
X=X.astype({'Pkts_P_State_P_Protocol_P_SrcIP':'float', 'Pkts_P_State_P_Protocol_P_DestIP':'float', 'TnBPDstIP':'float', 'TnP_PSrcIP': 'float', 'TnP_PDstIP':'float', 'TnP_PerProto':'float', 'TnP_Per_Dport' :'float','N_IN_Conn_P_DstIP':'float', 'N_IN_Conn_P_SrcIP':'float'})

In [ ]:
X=X.astype({'seq':'float', 'TnBPSrcIP':'float'})

In [ ]:
X=X.astype({'sport':'float64', 'dport':'float64'})

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281622 entries, 235882 to 68458
Data columns (total 35 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   flgs_number                       281622 non-null  float64
 1   proto_number                      281622 non-null  float64
 2   sport                             281622 non-null  float64
 3   dport                             281622 non-null  float64
 4   pkts                              281622 non-null  float64
 5   bytes                             281622 non-null  float64
 6   state_number                      281622 non-null  float64
 7   seq                               281622 non-null  float64
 8   dur                               281622 non-null  float64
 9   mean                              281622 non-null  float64
 10  stddev                            281622 non-null  float64
 11  sum                               281622 non-null  float64
 12  min                               281622 non-null  float64
 13  max                               281622 non-null  float64
 14  spkts                             281622 non-null  float64
 15  dpkts                             281622 non-null  float64
 16  sbytes                            281622 non-null  float64
 17  dbytes                            281622 non-null  float64
 18  rate                              281622 non-null  float64
 19  srate                             281622 non-null  float64
 20  drate                             281622 non-null  float64
 21  TnBPSrcIP                         281622 non-null  float64
 22  TnBPDstIP                         281622 non-null  float64
 23  TnP_PSrcIP                        281622 non-null  float64
 24  TnP_PDstIP                        281622 non-null  float64
 25  TnP_PerProto                      281622 non-null  float64
 26  TnP_Per_Dport                     281622 non-null  float64
 27  AR_P_Proto_P_SrcIP                281622 non-null  float64
 28  AR_P_Proto_P_DstIP                281622 non-null  float64
 29  N_IN_Conn_P_DstIP                 281622 non-null  float64
 30  N_IN_Conn_P_SrcIP                 281622 non-null  float64
 31  AR_P_Proto_P_Sport                281622 non-null  float64
 32  AR_P_Proto_P_Dport                281622 non-null  float64
 33  Pkts_P_State_P_Protocol_P_DestIP  281622 non-null  float64
 34  Pkts_P_State_P_Protocol_P_SrcIP   281622 non-null  float64
dtypes: float64(35)
memory usage: 77.3 MB

In [ ]:
y

235882    Reconnaissance
194215               DoS
130868               DoS
159846               DoS
55773               DDoS
               ...
5954                DDoS
145113               DoS
102339               DoS
14298               DDoS
68458               DDoS
Name: category, Length: 281622, dtype: object

In [ ]:
X

,flgs_number,proto_number,sport,dport,pkts,bytes,state_number,seq,dur,mean,...,TnP_PerProto,TnP_Per_Dport,AR_P_Proto_P_SrcIP,AR_P_Proto_P_DstIP,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,AR_P_Proto_P_Sport,AR_P_Proto_P_Dport,Pkts_P_State_P_Protocol_P_DestIP,Pkts_P_State_P_Protocol_P_SrcIP
235882,1.0,1.0,35996.0,2006.0,2.0,134.0,1.0,27055.0,0.000980,0.000980,...,208.0,2.0,25.118700,25.118700,100.0,100.0,2040.820000,2040.820000,208.0,208.0
194215,1.0,3.0,41394.0,80.0,11.0,660.0,4.0,153957.0,25.096107,4.527031,...,1100.0,1100.0,0.438260,0.438260,100.0,100.0,0.438315,0.438260,1100.0,1100.0
130868,1.0,1.0,3900.0,80.0,3.0,274.0,1.0,235784.0,0.162942,0.162942,...,300.0,300.0,18.312300,18.312300,100.0,100.0,18.411500,18.312300,300.0,300.0
159846,5.0,1.0,43136.0,80.0,6.0,548.0,1.0,192477.0,28.320900,0.140242,...,548.0,548.0,0.211858,0.211858,48.0,48.0,0.211858,0.203300,288.0,288.0
55773,1.0,3.0,47280.0,80.0,13.0,780.0,4.0,80441.0,14.280066,4.001678,...,1197.0,1197.0,0.910335,0.830052,100.0,71.0,0.910360,0.830052,1197.0,923.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5954,1.0,3.0,12269.0,80.0,5.0,300.0,4.0,103684.0,12.857875,2.942011,...,523.0,523.0,0.406755,0.406755,100.0,100.0,0.388867,0.406755,523.0,523.0
145113,1.0,3.0,26688.0,80.0,10.0,600.0,4.0,32772.0,29.243759,1.752940,...,1000.0,1000.0,0.341963,0.341963,100.0,100.0,0.341953,0.341963,1000.0,1000.0
102339,1.0,3.0,57466.0,80.0,6.0,360.0,4.0,249457.0,21.570436,4.387115,...,600.0,600.0,0.278191,0.278191,100.0,100.0,0.278158,0.278191,600.0,600.0
14298,2.0,1.0,40516.0,80.0,7.0,890.0,1.0,238143.0,11.999708,2.098042,...,477.0,477.0,0.516747,0.409988,100.0,35.0,0.583347,0.409988,147.0,147.0
68458,2.0,1.0,25624.0,80.0,5.0,770.0,3.0,169180.0,12.835119,2.149765,...,500.0,500.0,0.389533,0.389533,100.0,100.0,0.389556,0.389533,500.0,500.0

##Encode categurial features & scale

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler , StandardScaler
#from sklearn.preprocessing import OneHotEncoder

In [ ]:
# MMS = MinMaxScaler()
MMS = StandardScaler()
#Encoder=OneHotEncoder(handle_unknown = 'ignore')

In [ ]:
#cat_X= X.select_dtypes(include='object').columns
num_X= X.select_dtypes(include='float').columns

In [ ]:
preprocessing = ColumnTransformer(
    [("MM", MMS, num_X)]
         )

In [ ]:
# preprocessing = ColumnTransformer(
#     [('ENC',Encoder,cat_X)] )

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y_org=le.fit_transform(y)

##creat deffrent  target variabel

In [ ]:
y_normal = y.apply(lambda x: 1 if x == 'Normal' else 0)
y_dos = y.apply(lambda x: 1 if x == 'DoS' else 0)
y_ddos = y.apply(lambda x: 1 if x == 'DDoS' else 0)
y_Theft = y.apply(lambda x: 1 if x == 'Theft' else 0)
y_Reconnaissance= y.apply(lambda x: 1 if x == 'Reconnaissance' else 0)
# y_paper=y.apply(lambda x: 1 if x!= 'Normal' else 0)

In [ ]:
print(y_dos.value_counts())
print(y_ddos.value_counts())
print( y_normal.value_counts())
print(y_Theft.value_counts())
print(y_Reconnaissance.value_counts())
# print(y_paper.value_counts())

0    181623
1     99999
Name: category, dtype: int64
0    181624
1     99998
Name: category, dtype: int64
0    281172
1       450
Name: category, dtype: int64
0    281543
1        79
Name: category, dtype: int64
0    200526
1     81096
Name: category, dtype: int64

In [ ]:
print(X.shape , y.shape)

(281622, 35) (281622,)

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281622 entries, 235882 to 68458
Data columns (total 35 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   flgs_number                       281622 non-null  float64
 1   proto_number                      281622 non-null  float64
 2   sport                             281622 non-null  float64
 3   dport                             281622 non-null  float64
 4   pkts                              281622 non-null  float64
 5   bytes                             281622 non-null  float64
 6   state_number                      281622 non-null  float64
 7   seq                               281622 non-null  float64
 8   dur                               281622 non-null  float64
 9   mean                              281622 non-null  float64
 10  stddev                            281622 non-null  float64
 11  sum                               281622 non-null  float64
 12  min                               281622 non-null  float64
 13  max                               281622 non-null  float64
 14  spkts                             281622 non-null  float64
 15  dpkts                             281622 non-null  float64
 16  sbytes                            281622 non-null  float64
 17  dbytes                            281622 non-null  float64
 18  rate                              281622 non-null  float64
 19  srate                             281622 non-null  float64
 20  drate                             281622 non-null  float64
 21  TnBPSrcIP                         281622 non-null  float64
 22  TnBPDstIP                         281622 non-null  float64
 23  TnP_PSrcIP                        281622 non-null  float64
 24  TnP_PDstIP                        281622 non-null  float64
 25  TnP_PerProto                      281622 non-null  float64
 26  TnP_Per_Dport                     281622 non-null  float64
 27  AR_P_Proto_P_SrcIP                281622 non-null  float64
 28  AR_P_Proto_P_DstIP                281622 non-null  float64
 29  N_IN_Conn_P_DstIP                 281622 non-null  float64
 30  N_IN_Conn_P_SrcIP                 281622 non-null  float64
 31  AR_P_Proto_P_Sport                281622 non-null  float64
 32  AR_P_Proto_P_Dport                281622 non-null  float64
 33  Pkts_P_State_P_Protocol_P_DestIP  281622 non-null  float64
 34  Pkts_P_State_P_Protocol_P_SrcIP   281622 non-null  float64
dtypes: float64(35)
memory usage: 77.3 MB

##split data to test & train

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train ,X_test, y_train, y_test =train_test_split(X,y_org,test_size=0.3,shuffle=True,random_state=44)
X_train_p, X_test_p , y_train_p , y_test_p =train_test_split(X,y_org,test_size=0.3,shuffle=True,random_state=44)
X_train_n ,X_test_n, y_train_n, y_test_n =train_test_split(X,y_normal,test_size=0.3,shuffle=True,random_state=44)
X_train_dos ,X_test_dos, y_train_dos, y_test_dos =train_test_split(X,y_dos,test_size=0.3,shuffle=True,random_state=44)
X_train_ddos ,X_test_ddos, y_train_ddos, y_test_ddos =train_test_split(X,y_ddos,test_size=0.3,shuffle=True,random_state=44)
X_train_theft ,X_test_theft, y_train_theft, y_test_theft =train_test_split(X,y_Theft,test_size=0.3,shuffle=True,random_state=44)
X_train_reconn ,X_test_reconn, y_train_reconn, y_test_reconn =train_test_split(X,y_Reconnaissance,test_size=0.3,shuffle=True,random_state=44)

In [ ]:
print(X_train_reconn.shape , y_train_reconn.shape , X_test_reconn.shape ,  y_test_reconn.shape)

(197135, 35) (197135,) (84487, 35) (84487,)

In [ ]:
print(X_train_n.shape , y_train_n.shape , X_test_n.shape ,  y_test_n.shape)

(197135, 35) (197135,) (84487, 35) (84487,)

In [ ]:
print(X_train_p.shape, X_test_p.shape, y_train_p.shape, y_test_p.shape)

(197135, 35) (84487, 35) (197135,) (84487,)

In [ ]:
#y_test

In [ ]:
#y_test_n

#feature selection using gini and Information Gain and RFE metric

##gini & rfe & IG

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score,recall_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFE
from sklearn.feature_selection import mutual_info_classif
from matplotlib import pyplot

##paper method

###gini

In [ ]:
# from sklearn.pipeline import Pipeline
# rf_model_paper = RandomForestClassifier()
# gini_pipe_p= Pipeline(steps=[
#     ('preprocessing' ,preprocessing),
#     ('rf',rf_model_paper )])

# gini_pipe_p.fit(X_train_p,y_train_p)

In [ ]:
# gini_pipe_p[-1]

In [ ]:
# feat_importances_p = pd.Series(gini_pipe_p[-1].feature_importances_)
# df_imp_feat_p= feat_importances_p.nlargest(18)
# print(rf_model_paper.feature_importances_)


# df_imp_feat_p.plot(kind='barh')
# plt.show()
# print(df_imp_feat_p)

In [ ]:
# df_imp_feat_p.index

###IG

In [ ]:
# MI=SelectKBest(score_func=mutual_info_classif, k=18)

In [ ]:
# MI_pipe=Pipeline([('preprocessing',preprocessing),
#                  ('MI',MI)])

In [ ]:
# X_train_MI_P=MI_pipe.fit_transform(X_train_p,y_train_p)
# X_test_MI_P=MI_pipe.transform(X_test_p)
# IG_P=MI_pipe[-1]

In [ ]:
# # what are scores for the features
# for i in range(len(IG_P.scores_)):
# 	print('Feature %d: %f' % (i,IG_P.scores_[i]))
# # plot the scores
# pyplot.bar([i for i in range(len(IG_P.scores_))], IG_P.scores_)
# pyplot.show()

In [ ]:
# # IG_n.get_feature_names_out()

# IG_features_P=pd.DataFrame(IG_P.get_feature_names_out())
# IG_features_P=IG_features_P.iloc[:,0].str.replace('x','')
# IG_features_P=pd.to_numeric(IG_features_P)

###intersect paper

In [ ]:
# def intersect(lst1,lst2):
#    return list(set(lst1) & set(lst2) )

In [ ]:
# int_gini_IG_p=intersect(IG_features_P,df_imp_feat_p.index)
# print(int_gini_IG_p , len(int_gini_IG_p))

###union paper

In [ ]:
# def union(lst1,lst2):
#   return list(set(lst1) | set(lst2))

In [ ]:
# un_gini_IG_p=union(IG_features_P,df_imp_feat_p.index)
# print(un_gini_IG_p, len(un_gini_IG_p))

##Normal class

###gini

In [ ]:
# from sklearn.pipeline import Pipeline
# rf_model_n = RandomForestClassifier()
# gini_pipe= Pipeline(steps=[
#     ('preprocessing' ,preprocessing),
#     ('rf',rf_model_n )])

# gini_pipe.fit(X_train_n,y_train_n)

In [ ]:
# gini_pipe[-1]

In [ ]:
# gini_pipe[-1].feature_importances_.shape

In [ ]:
# X_train.shape

In [ ]:
# X_train

In [ ]:
# feat_importances_n = pd.Series(gini_pipe[-1].feature_importances_)
# # determine 20 most important features
# df_imp_feat_n= feat_importances_n.nlargest(5)
# print(rf_model_n.feature_importances_)


# # plot 20 most important features
# # feat_importances.nlargest(18).plot(kind='barh')
# df_imp_feat_n.plot(kind='barh')
# plt.show()
# print(df_imp_feat_n)

In [ ]:
# df_imp_feat_n.index

###IG

In [ ]:
# X_train_MI_n=MI_pipe.fit_transform(X_train_n,y_train_n)
# X_test_MI_n=MI_pipe.transform(X_test_n)
# IG_n=MI_pipe[-1]

In [ ]:
# # what are scores for the features
# for i in range(len(IG_n.scores_)):
# 	print('Feature %d: %f' % (i,IG_n.scores_[i]))
# # plot the scores
# pyplot.bar([i for i in range(len(IG_n.scores_))], IG_n.scores_)
# pyplot.show()

In [ ]:
# # IG_n.get_feature_names_out()

# IG_features_n=pd.DataFrame(IG_n.get_feature_names_out())
# IG_features_n=IG_features_n.iloc[:,0].str.replace('x','')
# IG_features_n=pd.to_numeric(IG_features_n)

###RFE

In [ ]:
# s_n=time.time()

In [ ]:
# estimator= DecisionTreeClassifier()

# selector = RFE(estimator, n_features_to_select=5, step=1,)
# rfe_pipe= Pipeline(steps=[
#     ('preprocessing' ,preprocessing),
#     ('rfe',selector)])
# rfe_pipe.fit(X_train_n, y_train_n)
# rfe_pipe[-1].support_
# rfe_normal_features=rfe_pipe[-1].get_feature_names_out()
# rfe_normal_features=pd.DataFrame(rfe_normal_features)
# rfe_normal_features=rfe_normal_features.iloc[:,0].str.replace('x','')
# rfe_normal_features=pd.to_numeric(rfe_normal_features)

In [ ]:
# e_n=time.time()
# t_n=e_n-s_n
# t_n

###Intersect for normal class

In [ ]:
# int_rfe_gini_normal=intersect(df_imp_feat_n.index,rfe_normal_features)

In [ ]:
# int_rfe_gini_normal

In [ ]:
# int_rfe_IG_normal=intersect(rfe_normal_features,IG_features_n)

In [ ]:
# int_rfe_IG_normal

###union for normal class

In [ ]:
# un_rfe_gini_normal=union(rfe_normal_features,df_imp_feat_n.index)

In [ ]:
# un_rfe_gini_normal

In [ ]:
# un_rfe_IG_normal=union(rfe_normal_features,IG_features_n)

In [ ]:
# un_rfe_IG_normal

##Dos class

###gini

In [ ]:
# from sklearn.pipeline import Pipeline
# rf_model_dos = RandomForestClassifier()
# gini_pipe_dos= Pipeline(steps=[
#     ('preprocessing' ,preprocessing),
#     ('rf',rf_model_dos )])

# gini_pipe_dos.fit(X_train_dos,y_train_dos)

In [ ]:

# feat_importances_dos= pd.Series(gini_pipe_dos[-1].feature_importances_)
# # determine 20 most important features
# df_imp_feat_dos= feat_importances_dos.nlargest(5)
# print(rf_model_dos.feature_importances_)


# # plot 20 most important features
# # feat_importances.nlargest(18).plot(kind='barh')
# df_imp_feat_dos.plot(kind='barh')
# plt.show()
# print(df_imp_feat_dos)

In [ ]:
# df_imp_feat_dos.index

###IG

In [ ]:
# X_train_MI_dos=MI_pipe.fit_transform(X_train_dos,y_train_dos)
# X_test_MI_dos=MI_pipe.transform(X_test_dos)
# IG_dos=MI_pipe[-1]

In [ ]:

# # what are scores for the features
# for i in range(len(IG_dos.scores_)):
# 	print('Feature %d: %f' % (i,IG_dos.scores_[i]))
# # plot the scores
# pyplot.bar([i for i in range(len(IG_dos.scores_))], IG_dos.scores_)
# pyplot.show()

In [ ]:
# IG_features_dos=pd.DataFrame(IG_dos.get_feature_names_out())
# IG_features_dos=IG_features_dos.iloc[:,0].str.replace('x','')
# IG_features_dos=pd.to_numeric(IG_features_dos)

In [ ]:
# IG_features_dos

###RFE

In [ ]:
# s_dos=time.time()

In [ ]:
# estimator= DecisionTreeClassifier()

# selector = RFE(estimator, n_features_to_select=5, step=1,)
# rfe_pipe_dos= Pipeline(steps=[
#     ('preprocessing' ,preprocessing),
#     ('rfe',selector)])
# rfe_pipe_dos.fit(X_train_dos, y_train_dos)
# rfe_pipe_dos[-1].support_
# rfe_dos_features=rfe_pipe_dos[-1].get_feature_names_out()
# rfe_dos_features=pd.DataFrame(rfe_dos_features)
# rfe_dos_features=rfe_dos_features.iloc[:,0].str.replace('x','')
# rfe_dos_features=pd.to_numeric(rfe_dos_features)

In [ ]:
# e_dos=time.time()
# t_dos=e_dos-s_dos
# t_dos

In [ ]:
# rfe_dos_features

###Iintersect for dos class

In [ ]:
# int_rfe_gini_dos=intersect(rfe_dos_features,df_imp_feat_dos.index)

In [ ]:
# int_rfe_IG_dos=intersect(rfe_dos_features,IG_features_dos)

In [ ]:
# int_rfe_IG_dos

###union for dos class

In [ ]:
# un_rfe_gini_dos=union(df_imp_feat_dos.index,rfe_dos_features)

In [ ]:
# un_rfe_gini_dos

In [ ]:
# un_rfe_IG_dos=union(rfe_dos_features,IG_features_dos)

In [ ]:
# un_rfe_IG_dos

##DDos class

###gini

In [ ]:
# from sklearn.pipeline import Pipeline
# rf_model_ddos = RandomForestClassifier()
# gini_pipe_ddos= Pipeline(steps=[
#     ('preprocessing' ,preprocessing),
#     ('rf',rf_model_ddos )])

# gini_pipe_ddos.fit(X_train_ddos,y_train_ddos)

In [ ]:
# feat_importances_ddos= pd.Series(gini_pipe_ddos[-1].feature_importances_)
# # determine 20 most important features
# df_imp_feat_ddos= feat_importances_ddos.nlargest(5)
# print(rf_model_ddos.feature_importances_)


# # plot 20 most important features
# # feat_importances.nlargest(18).plot(kind='barh')
# df_imp_feat_ddos.plot(kind='barh')
# plt.show()
# print(df_imp_feat_ddos)

In [ ]:
# df_imp_feat_ddos.index

###IG

In [ ]:
# X_train_MI_ddos=MI_pipe.fit_transform(X_train_ddos,y_train_ddos)
# X_test_MI_ddos=MI_pipe.transform(X_test_ddos)
# IG_ddos=MI_pipe[-1]

In [ ]:

# # what are scores for the features
# for i in range(len(IG_ddos.scores_)):
# 	print('Feature %d: %f' % (i,IG_ddos.scores_[i]))
# # plot the scores
# pyplot.bar([i for i in range(len(IG_ddos.scores_))], IG_ddos.scores_)
# pyplot.show()

In [ ]:
# IG_n.get_feature_names_out()

# IG_features_ddos=pd.DataFrame(IG_ddos.get_feature_names_out())
# IG_features_ddos=IG_features_ddos.iloc[:,0].str.replace('x','')
# IG_features_ddos=pd.to_numeric(IG_features_ddos)

In [ ]:
# IG_features_ddos

###RFE

In [ ]:
# s_ddos=time.time()

In [ ]:
# e_ddos=time.time()
# t_ddos=e_ddos-s_ddos
# t_ddos

###Intersect for ddos class

In [ ]:
# int_rfe_gini_ddos=intersect(df_imp_feat_ddos.index,rfe_ddos_features)

In [ ]:
# int_rfe_gini_ddos

In [ ]:
# int_rfe_IG_ddos=intersect(rfe_ddos_features,IG_features_ddos)

In [ ]:
# int_rfe_IG_ddos

###union for ddos class

In [ ]:
# un_rfe_gini_ddos=union(rfe_ddos_features,df_imp_feat_ddos.index)

In [ ]:
# un_rfe_IG_ddos=union(rfe_ddos_features,IG_features_ddos)

In [ ]:
# un_rfe_IG_ddos

##Theft class

###gini

In [ ]:
# from sklearn.pipeline import Pipeline
# rf_model_theft = RandomForestClassifier()
# gini_pipe_theft= Pipeline(steps=[
#     ('preprocessing' ,preprocessing),
#     ('rf',rf_model_theft )])

# gini_pipe_theft.fit(X_train_theft,y_train_theft)

In [ ]:
# feat_importances_theft= pd.Series(gini_pipe_theft[-1].feature_importances_)
# # determine 20 most important features
# df_imp_feat_theft= feat_importances_theft.nlargest(5)
# print(rf_model_theft.feature_importances_)


# # plot 20 most important features
# # feat_importances.nlargest(18).plot(kind='barh')
# df_imp_feat_theft.plot(kind='barh')
# plt.show()
# print(df_imp_feat_theft)

In [ ]:
# df_imp_feat_theft.index

###IG

In [ ]:
# X_train_MI_theft=MI_pipe.fit_transform(X_train_theft,y_train_theft)
# X_test_MI_theft=MI_pipe.transform(X_test_theft)
# IG_theft=MI_pipe[-1]

In [ ]:
# # what are scores for the features
# for i in range(len(IG_theft.scores_)):
# 	print('Feature %d: %f' % (i,IG_theft.scores_[i]))
# # plot the scores
# pyplot.bar([i for i in range(len(IG_theft.scores_))], IG_theft.scores_)
# pyplot.show()

In [ ]:
# # IG_n.get_feature_names_out()

# IG_features_theft=pd.DataFrame(IG_theft.get_feature_names_out())
# IG_features_theft=IG_features_theft.iloc[:,0].str.replace('x','')
# IG_features_theft=pd.to_numeric(IG_features_theft)

In [ ]:
# IG_features_theft

###RFE

In [ ]:
# s_theft=time.time()

In [ ]:
# estimator= DecisionTreeClassifier()

# selector = RFE(estimator, n_features_to_select=5, step=1,)
# rfe_pipe_theft= Pipeline(steps=[
#     ('preprocessing' ,preprocessing),
#     ('rfe',selector)])
# rfe_pipe_theft.fit(X_train_theft, y_train_theft)
# rfe_pipe_theft[-1].support_
# rfe_theft_features=rfe_pipe_theft[-1].get_feature_names_out()
# rfe_theft_features=pd.DataFrame(rfe_theft_features)
# rfe_theft_features=rfe_theft_features.iloc[:,0].str.replace('x','')
# rfe_theft_features=pd.to_numeric(rfe_theft_features)

In [ ]:
# e_theft=time.time()
# t_theft=e_theft-s_theft
# t_theft

In [ ]:
# rfe_theft_features

###Intersect for theft class

In [ ]:
# int_rfe_gini_theft=intersect(df_imp_feat_theft.index,rfe_theft_features)

In [ ]:
# int_rfe_gini_theft

In [ ]:
# int_rfe_IG_theft=intersect(rfe_theft_features,IG_features_theft)

In [ ]:
# int_rfe_IG_theft

###union for theft class

In [ ]:
# un_rfe_gini_theft=union(rfe_theft_features,df_imp_feat_theft.index)

In [ ]:
# un_rfe_gini_theft

In [ ]:
# un_rfe_IG_theft=union(rfe_theft_features,IG_features_theft)

In [ ]:
# un_rfe_IG_theft

##Reconssance class

###gini

In [ ]:
# from sklearn.pipeline import Pipeline
# rf_model_Reconnaissance = RandomForestClassifier()
# gini_pipe_Reconnaissance= Pipeline(steps=[
#     ('preprocessing' ,preprocessing),
#     ('rf',rf_model_Reconnaissance )])

# gini_pipe_Reconnaissance.fit(X_train_reconn,y_train_reconn)

In [ ]:
# feat_importances_Reconnaissance= pd.Series(gini_pipe_Reconnaissance[-1].feature_importances_)
# # determine 20 most important features
# df_imp_feat_Reconnaissance= feat_importances_Reconnaissance.nlargest(5)
# print(rf_model_Reconnaissance.feature_importances_)


# # plot 20 most important features
# # feat_importances.nlargest(18).plot(kind='barh')
# df_imp_feat_Reconnaissance.plot(kind='barh')
# plt.show()
# print(df_imp_feat_Reconnaissance)

In [ ]:
# df_imp_feat_Reconnaissance.index

###IG

In [ ]:
# X_train_MI_reconn=MI_pipe.fit_transform(X_train_reconn,y_train_reconn)
# X_test_MI_reconn=MI_pipe.transform(X_test_reconn)
# IG_reconn=MI_pipe[-1]

In [ ]:
# # what are scores for the features
# for i in range(len(IG_reconn.scores_)):
# 	print('Feature %d: %f' % (i,IG_reconn.scores_[i]))
# # plot the scores
# pyplot.bar([i for i in range(len(IG_reconn.scores_))], IG_reconn.scores_)
# pyplot.show()

In [ ]:
# IG_features_reconn=pd.DataFrame(IG_reconn.get_feature_names_out())
# IG_features_reconn=IG_features_reconn.iloc[:,0].str.replace('x','')
# IG_features_reconn=pd.to_numeric(IG_features_reconn)

In [ ]:
# IG_features_reconn

###RFE

In [ ]:
# s_recon=time.time()

In [ ]:
# estimator= DecisionTreeClassifier()

# selector = RFE(estimator, n_features_to_select=5, step=1,)
# rfe_pipe_Reconnaissance= Pipeline(steps=[
#     ('preprocessing' ,preprocessing),
#     ('rfe',selector)])
# rfe_pipe_Reconnaissance.fit(X_train_reconn, y_train_reconn)
# rfe_pipe_Reconnaissance[-1].support_
# rfe_Reconnaissance_features=rfe_pipe_Reconnaissance[-1].get_feature_names_out()
# rfe_Reconnaissance_features=pd.DataFrame(rfe_Reconnaissance_features)
# rfe_Reconnaissance_features=rfe_Reconnaissance_features.iloc[:,0].str.replace('x','')
# rfe_Reconnaissance_features=pd.to_numeric(rfe_Reconnaissance_features)

In [ ]:
# e_recon=time.time()
# t_recon=e_recon-s_recon
# t_recon

In [ ]:
# rfe_Reconnaissance_features

###intersect for reconn class

In [ ]:
# int_rfe_gini_reconn=intersect(rfe_Reconnaissance_features,df_imp_feat_Reconnaissance.index)

In [ ]:
# int_rfe_gini_reconn

In [ ]:
#int_rfe_IG_reconn=intersect(rfe_Reconnaissance_features,IG_features_reconn)

In [ ]:
# int_rfe_IG_reconn

###union for reconn *class*

In [ ]:
#un_rfe_gini_reconn=union(rfe_Reconnaissance_features,df_imp_feat_Reconnaissance.index)

In [ ]:
#un_rfe_gini_reconn

In [ ]:
#un_rfe_IG_reconn=union(rfe_Reconnaissance_features,IG_features_reconn)

In [ ]:
#un_rfe_IG_reconn

#method

method1: اجتماع (اشتراک اجتماع ها)

In [ ]:
# def method1(lst1,lst2,lst3,lst4,lst5):
#   return list((set(lst1) & set(lst2)) | (set(lst1)&set(lst3)) | (set(lst1)&set(lst4)) | (set(lst1)& set(lst5)) | (set(lst2) & set(lst3))
#   | (set(lst2) & set(lst4)) | (set(lst2) & set(lst5)) | (set(lst3) & set(lst4)) | (set(lst3) & set(lst5)) | (set(lst4) & set(lst5)))

method2: اشتراک (اجتماع اشتراک ها)

In [ ]:
# def method2(lst1,lst2,lst3,lst4,lst5):
#   return list((set(lst1) | set(lst2)) & (set(lst1) | set(lst3)) & (set(lst1) | set(lst4)) & (set(lst1) | set(lst5)) & (set(lst2) | set(lst3))
#   & (set(lst2) | set(lst4)) & (set(lst2) | set(lst5)) & (set(lst3) | set(lst4)) & (set(lst3) | set(lst5)) & (set(lst4) | set(lst5)))

methos3: اشتراک اجتماع ها
و
اشتراک اشتراک ها

In [ ]:
# def method3(lst1,lst2,lst3,lst4,lst5):
#   return list(set(lst1) & set(lst2) & set(lst3) & set(lst4) & set(lst5))

method4: اجتماع اشتراک ها و اجتماع اجتماع ها

In [ ]:
# def method4(lst1, lst2,lst3,lst4,lst5):
#   return list(set(lst1) | set(lst2) | set(lst3) | set(lst4) | set(lst5))

##CALL method

In [ ]:
# print(int_rfe_gini_normal)
# print(int_rfe_IG_normal)
# print(int_rfe_gini_dos)
# print(int_rfe_IG_dos)
# print(int_rfe_gini_ddos)
# print(int_rfe_IG_ddos)
# print(int_rfe_gini_theft)
# print(int_rfe_IG_theft)
# print(int_rfe_gini_reconn)
# print(int_rfe_IG_reconn)
# print(int_gini_IG_p)

In [ ]:
# print(un_rfe_gini_normal)
# print(un_rfe_IG_normal)
# print(un_rfe_gini_dos)
# print(un_rfe_IG_dos)
# print(un_rfe_gini_ddos)
# print(un_rfe_IG_ddos)
# print(un_rfe_gini_theft)
# print(un_rfe_IG_theft)
# print(un_rfe_gini_reconn)
# print(un_rfe_IG_reconn)
# print(un_gini_IG_p)

###method1

اجتماع اشتراک اجتماع های الگوریتم رپر با الگوریتم فیلتر جینی

In [ ]:
# method1_gini=method1(un_rfe_gini_normal,un_rfe_gini_dos,un_rfe_gini_reconn,un_rfe_gini_ddos,un_rfe_gini_theft)
# method1_gini
# print(("len of method1_gini:",len(method1_gini)),method1_gini)

اجتماع اشتراک اجتماع های الگوریتم رپر با الگوریتم فیلتر بهره اطلاعات

In [ ]:
# method1_IG=method1(un_rfe_IG_normal,un_rfe_IG_dos,un_rfe_IG_ddos, un_rfe_IG_reconn, un_rfe_IG_theft)
# method1_IG
# print(("len of method1_IG:",len(method1_IG)),method1_IG)

###method2

اشتراک اجتماع اشتراک الگوریتم رپر با الگوریتم فیلترجینی

In [ ]:
# method2_gini=method2(int_rfe_gini_normal,int_rfe_gini_dos,int_rfe_gini_ddos,int_rfe_gini_theft,int_rfe_gini_reconn)
# method2_gini

In [ ]:
# method2_gini=method1(int_rfe_gini_normal,int_rfe_gini_dos,int_rfe_gini_ddos,int_rfe_gini_theft,int_rfe_gini_reconn)
# method2_gini

اشتراک اجتماع اشتراک الگوریتم رپر با الگوریتم فیلتر بهره اطلاعات

In [ ]:
# method2_IG=method2(int_rfe_IG_normal,int_rfe_IG_dos,int_rfe_IG_ddos,int_rfe_IG_theft,int_rfe_IG_reconn)
# method2_IG

In [ ]:
# method2_IG=method1(int_rfe_IG_normal,int_rfe_IG_dos,int_rfe_IG_ddos,int_rfe_IG_theft,int_rfe_IG_reconn)
# method2_IG

##method3

اشتراک اجتماع های الگوریتم رپر با الگوریتم فیلتر جینی

In [ ]:
# method3_gini=method3(un_rfe_gini_normal,un_rfe_gini_dos,un_rfe_gini_reconn,un_rfe_gini_ddos,un_rfe_gini_theft)
# method3_gini

اشتراک اجتماع های الگوریتم رپر با الگوریتم فیلتر بهره اطلاعات

In [ ]:
# method3_IG=method3(un_rfe_IG_normal,un_rfe_IG_dos,un_rfe_IG_ddos, un_rfe_IG_reconn, un_rfe_IG_theft)
# method3_IG

اشتراک اشتراک ها=تهی

In [ ]:
# method3_gini=method3(int_rfe_gini_normal,int_rfe_gini_dos,int_rfe_gini_ddos,int_rfe_gini_theft,int_rfe_gini_reconn)
# method3_gini

##method4

اجتماع اشتراک های الگوریتم رپر با فیلتر جینی

In [ ]:
# method4_gini=method4(int_rfe_gini_normal,int_rfe_gini_dos,int_rfe_gini_ddos,int_rfe_gini_theft,int_rfe_gini_reconn)
# method4_gini
# print(("len of method4_gini:",len(method4_gini)),method4_gini)

اجتماع اشتراک های الگوریتم رپر با فیلتر بهره اطلاعات

In [ ]:
#method4_IG = method4(int_rfe_IG_normal,int_rfe_IG_dos,int_rfe_IG_ddos,int_rfe_IG_theft,int_rfe_IG_reconn)
#method4_IG
#print(("len of method4_IG:",len(method4_IG)),method4_IG)

اجتماع اجتماع ها=22
```

In [ ]:
method1_gini=[34,7,8,10,11,13,16,19,22,25,27,29]
method1_IG=[1,3,6,7,8,16,18,19,25,27,28,29]
method4_gini=[7,24,25,26,28,13,8,31]
method4_IG=[1,19,6,8,27,31]
int_gini_IG_p=[32,5,8,9,10,11,13,16,18,19,26,27,28,31]
un_gini_IG_p=[3,5,8,9,10,11,12,13,14,16,18,19,21,22,24,25,26,27,28,29,31,32]

##no of selected features

In [ ]:
a=len(method1_gini)
b=len(method1_IG)
c=len(method4_gini)
d=len(method4_IG)
e=len(int_gini_IG_p)
f=len(un_gini_IG_p)

#CLF

In [ ]:
X_train=preprocessing.fit_transform(X_train)
X_test=preprocessing.transform(X_test)

In [ ]:
print(X_train.shape , X_test.shape)

(197135, 35) (84487, 35)

In [ ]:
X_train=pd.DataFrame(X_train)
X_test=pd.DataFrame(X_test)

In [ ]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,-0.606981,-0.687512,0.267394,0.039193,0.006449,-0.007615,2.428125,-0.801086,-0.420915,-0.754878,...,0.119442,0.378301,-0.130768,-0.250907,0.458337,-1.810792,-0.113276,-0.122589,0.931182,-0.115843
1,0.239485,-0.687512,0.803892,-0.305543,-0.007046,-0.008130,-1.118492,-0.277427,-0.119411,0.417201,...,-0.047627,-0.019820,-0.132750,-0.255445,0.458337,-1.708348,-0.114536,-0.123751,-0.314204,-0.290953
2,-0.606981,1.455061,-0.552820,-0.305543,-0.009295,-0.009354,1.009478,0.781524,-0.112322,0.898703,...,-0.019577,0.047021,-0.132753,-0.255440,0.458337,0.647853,-0.114538,-0.123750,0.165224,0.233020
3,-0.606981,1.455061,0.525882,-0.305543,0.006449,-0.008384,1.009478,-0.247098,-0.065498,1.669370,...,0.119442,0.378301,-0.132740,-0.255411,0.458337,0.750297,-0.114530,-0.123742,0.931182,1.207665
4,-0.606981,1.455061,-1.559246,-0.305543,0.004199,-0.008523,1.009478,-0.551867,0.294266,1.223040,...,0.098968,0.329512,-0.132755,-0.255445,0.458337,0.750297,-0.114539,-0.123751,0.818375,1.071921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197130,-0.606981,1.455061,0.017069,-0.305543,-0.007046,-0.009216,1.009478,0.159950,-0.120965,0.833218,...,0.044916,0.200708,-0.132750,-0.255424,0.458337,-1.298574,-0.114536,-0.123746,0.520566,-0.176928
197131,0.239485,-0.687512,-1.701286,-0.305543,-0.011545,-0.008407,0.300155,1.774530,-0.090452,0.614726,...,-0.050903,-0.027626,-0.132756,-0.255449,0.458337,-0.342434,-0.114540,-0.123752,-0.007370,-0.095481
197132,0.239485,-0.687512,0.374526,-0.305543,-0.009295,-0.008486,0.300155,0.863037,0.679840,-0.836974,...,-0.040256,-0.002256,-0.132764,-0.255466,0.458337,0.750297,-0.114545,-0.123756,-0.090847,-0.022179
197133,-0.606981,-0.687512,-0.050235,0.049666,-0.018292,-0.009909,-1.118492,-0.830495,-0.425903,-0.880939,...,-0.105774,-0.254985,0.383539,0.922010,0.458337,0.750297,0.214222,0.135004,-0.309692,-0.285523
197134,0.239485,-0.687512,-0.846897,-0.305543,-0.007046,-0.008130,-1.118492,0.532392,0.671564,-0.851475,...,0.013386,0.125572,-0.132762,-0.255461,0.458337,0.135636,-0.114544,-0.123755,0.265622,0.262884

method1_gini

In [ ]:
X_train_method1_gini=X_train[method1_gini]
X_test_method1_gini=X_test[method1_gini]

In [ ]:
print(X_train_method1_gini.shape, X_test_method1_gini.shape)

(197135, 12) (84487, 12)

In [ ]:
X_train_method1_gini

,34,7,8,10,11,13,16,19,22,25,27,29
0,-0.115843,-0.801086,-0.420915,-0.726252,-0.222001,-0.848420,-0.009603,0.000998,0.028888,0.119442,-0.130768,0.458337
1,-0.290953,-0.277427,-0.119411,1.031829,0.070623,0.541713,-0.008498,-0.015148,0.001438,-0.047627,-0.132750,0.458337
2,0.233020,0.781524,-0.112322,1.894499,0.182788,1.224737,-0.010241,-0.015153,-0.019470,-0.019577,-0.132753,0.458337
3,1.207665,-0.247098,-0.065498,-0.675179,0.362314,1.081346,-0.008683,-0.014917,0.007139,0.119442,-0.132740,0.458337
4,1.071921,-0.551867,0.294266,1.622858,0.585101,1.395288,-0.008906,-0.015162,0.003220,0.098968,-0.132755,0.458337
...,...,...,...,...,...,...,...,...,...,...,...,...
197130,-0.176928,0.159950,-0.120965,1.792980,0.167534,1.073186,-0.010019,-0.015102,-0.007125,0.044916,-0.132750,0.458337
197131,-0.095481,1.774530,-0.090452,1.471910,0.116636,0.818412,-0.008720,-0.015207,0.003267,-0.050903,-0.132756,0.458337
197132,-0.022179,0.863037,0.679840,-0.567676,-0.218114,-0.809131,-0.009069,-0.015321,0.001130,-0.040256,-0.132764,0.458337
197133,-0.285523,-0.830495,-0.425903,-0.726252,-0.231790,-0.947358,-0.011354,-0.015370,-0.035968,-0.105774,0.383539,0.458337
197134,0.262884,0.532392,0.671564,-0.603415,-0.220323,-0.831458,-0.008498,-0.015308,0.017537,0.013386,-0.132762,0.458337

method1_IG

In [ ]:
X_train_method1_IG=X_train[method1_IG]
X_test_method1_IG=X_test[method1_IG]

In [ ]:
print(X_train_method1_IG.shape, X_test_method1_IG.shape)

(197135, 12) (84487, 12)

In [ ]:
X_test_method1_IG

,1,3,6,7,8,16,18,19,25,27,28,29
0,-0.687512,-0.313985,-1.118492,-1.055756,-0.425904,-0.011354,0.309692,-0.015370,-0.105774,0.835537,2.398042,0.350137
1,-0.687512,-0.305543,0.300155,0.003409,0.391836,-0.008720,-0.111076,-0.015303,-0.027972,-0.132762,-0.255462,0.458337
2,-0.687512,0.233041,-1.118492,-0.826861,-0.425904,-0.011354,0.304742,-0.015370,-0.105569,0.660069,1.552664,0.079636
3,-0.687512,-0.305543,0.300155,0.872234,0.135479,-0.008720,-0.111075,-0.015273,-0.044556,-0.132761,-0.255459,-0.190866
4,-0.687512,-0.305543,0.300155,1.463592,0.235451,-0.008720,-0.111076,-0.015287,-0.045375,-0.132762,-0.255461,-0.190866
...,...,...,...,...,...,...,...,...,...,...,...,...
84482,-0.687512,-0.305543,0.300155,-0.176977,0.292655,-0.009291,-0.111076,-0.015313,-0.042918,-0.132763,-0.255463,-1.759773
84483,-0.687512,0.411393,-1.118492,-1.011840,-0.425898,-0.011354,0.000066,-0.015370,-0.105774,-0.019257,0.003396,0.458337
84484,1.455061,-0.305543,1.009478,0.811033,0.204352,-0.009128,-0.111067,-0.015154,0.075218,-0.132754,-0.255444,0.241936
84485,-0.687512,-0.305543,-1.118492,-0.335474,0.818703,-0.009195,-0.111075,-0.015315,0.025466,-0.132762,-0.255462,-0.244966
84486,1.455061,-0.305543,1.009478,1.598989,0.150556,-0.010241,-0.111074,-0.015252,-0.020192,-0.132759,-0.255456,0.133736

method4_gini

In [ ]:
X_train_method4_gini=X_train[method4_gini]
X_test_method4_gini=X_test[method4_gini]

In [ ]:
print(X_train_method4_gini.shape, X_test_method4_gini.shape)

(197135, 8) (84487, 8)

In [ ]:
X_train_method4_gini

,7,24,25,26,28,13,8,31
0,-0.801086,0.438518,0.119442,0.378301,-0.250907,-0.848420,-0.420915,-0.113276
1,-0.277427,-0.031745,-0.047627,-0.019820,-0.255445,0.541713,-0.119411,-0.114536
2,0.781524,0.047208,-0.019577,0.047021,-0.255440,1.224737,-0.112322,-0.114538
3,-0.247098,0.438518,0.119442,0.378301,-0.255411,1.081346,-0.065498,-0.114530
4,-0.551867,0.380888,0.098968,0.329512,-0.255445,1.395288,0.294266,-0.114539
...,...,...,...,...,...,...,...,...
197130,0.159950,0.228744,0.044916,0.200708,-0.255424,1.073186,-0.120965,-0.114536
197131,1.774530,-0.040966,-0.050903,-0.027626,-0.255449,0.818412,-0.090452,-0.114540
197132,0.863037,-0.010998,-0.040256,-0.002256,-0.255466,-0.809131,0.679840,-0.114545
197133,-0.830495,-0.195415,-0.105774,-0.254985,0.922010,-0.947358,-0.425903,0.214222
197134,0.532392,0.139993,0.013386,0.125572,-0.255461,-0.831458,0.671564,-0.114544

method4_IG

In [ ]:
X_train_method4_IG=X_train[method4_IG]
X_test_method4_IG=X_test[method4_IG]

In [ ]:
X_test_method4_IG

             1         19        6         8         27        31
0     -0.687512 -0.015370 -1.118492 -0.425904  0.835537  0.348783
1     -0.687512 -0.015303  0.300155  0.391836 -0.132762 -0.114544
2     -0.687512 -0.015370 -1.118492 -0.425904  0.660069  0.390308
3     -0.687512 -0.015273  0.300155  0.135479 -0.132761 -0.114543
4     -0.687512 -0.015287  0.300155  0.235451 -0.132762 -0.114543
...         ...       ...       ...       ...       ...       ...
84482 -0.687512 -0.015313  0.300155  0.292655 -0.132763 -0.114544
84483 -0.687512 -0.015370 -1.118492 -0.425898 -0.019257 -0.042267
84484  1.455061 -0.015154  1.009478  0.204352 -0.132754 -0.114539
84485 -0.687512 -0.015315 -1.118492  0.818703 -0.132762 -0.114544
84486  1.455061 -0.015252  1.009478  0.150556 -0.132759 -0.114542

[84487 rows x 6 columns]

In [ ]:
print(X_train_method4_IG.shape, X_test_method4_IG.shape)

(197135, 6) (84487, 6)

intersect_paper

In [ ]:
X_train_int_paper=X_train[int_gini_IG_p]
X_test_int_paper=X_test[int_gini_IG_p]

In [ ]:
X_test_int_paper

,32,5,8,9,10,11,13,16,18,19,26,27,28,31
0,0.556017,-0.009909,-0.425904,-0.880973,-0.726252,-0.231793,-0.947384,-0.011354,0.309692,-0.015370,-0.160334,0.835537,2.398042,0.348783
1,-0.123755,-0.008269,0.391836,-0.126105,1.991263,0.002680,1.422542,-0.008720,-0.111076,-0.015303,0.027018,-0.132762,-0.255462,-0.114544
2,0.296348,-0.009909,-0.425904,-0.880973,-0.726252,-0.231792,-0.947384,-0.011354,0.304742,-0.015370,-0.254985,0.660069,1.552664,0.390308
3,-0.123755,-0.008407,0.135479,-0.244725,1.564265,-0.034163,1.050153,-0.008720,-0.111075,-0.015273,-0.012502,-0.132761,-0.255459,-0.114543
4,-0.123755,-0.008407,0.235451,-0.881026,-0.726252,-0.231797,-0.947426,-0.008720,-0.111076,-0.015287,-0.014453,-0.132762,-0.255461,-0.114543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84482,-0.123755,-0.008624,0.292655,-0.874621,-0.703193,-0.229807,-0.927316,-0.009291,-0.111076,-0.015313,-0.008599,-0.132763,-0.255463,-0.114544
84483,-0.011466,-0.009909,-0.425898,-0.880825,-0.726252,-0.231781,-0.947268,-0.011354,0.000066,-0.015370,-0.254985,-0.019257,0.003396,-0.042267
84484,-0.123751,-0.008661,0.204352,1.996809,-0.556901,0.662052,1.410237,-0.009128,-0.111067,-0.015154,0.272916,-0.132754,-0.255444,-0.114539
84485,-0.123755,-0.008287,0.818703,-0.786414,-0.722303,-0.209757,-0.871220,-0.009195,-0.111075,-0.015315,0.154358,-0.132762,-0.255462,-0.114544
84486,-0.123754,-0.009354,0.150556,0.456450,2.054955,0.183620,1.201120,-0.010241,-0.111074,-0.015252,0.045558,-0.132759,-0.255456,-0.114542

In [ ]:
print(X_train_int_paper.shape, X_test_int_paper.shape)

(197135, 14) (84487, 14)

union_paper

In [ ]:
X_train_un_paper=X_train[un_gini_IG_p]
X_test_un_paper=X_test[un_gini_IG_p]

In [ ]:
X_train_un_paper

,3,5,8,9,10,11,12,13,14,16,...,21,22,24,25,26,27,28,29,31,32
0,0.039193,-0.007615,-0.420915,-0.754878,-0.726252,-0.222001,-0.346494,-0.848420,-0.004099,-0.009603,...,-0.020417,0.028888,0.438518,0.119442,0.378301,-0.130768,-0.250907,0.458337,-0.113276,-0.122589
1,-0.305543,-0.008130,-0.119411,0.417201,1.031829,0.070623,-0.375063,0.541713,-0.007543,-0.008498,...,-0.022283,0.001438,-0.031745,-0.047627,-0.019820,-0.132750,-0.255445,0.458337,-0.114536,-0.123751
2,-0.305543,-0.009354,-0.112322,0.898703,1.894499,0.182788,-0.495218,1.224737,-0.007543,-0.010241,...,-0.015858,-0.019470,0.047208,-0.019577,0.047021,-0.132753,-0.255440,0.458337,-0.114538,-0.123750
3,-0.305543,-0.008384,-0.065498,1.669370,-0.675179,0.362314,2.487325,1.081346,0.016564,-0.008683,...,0.011818,0.007139,0.438518,0.119442,0.378301,-0.132740,-0.255411,0.458337,-0.114530,-0.123742
4,-0.305543,-0.008523,0.294266,1.223040,1.622858,0.585101,-0.495218,1.395288,0.013120,-0.008906,...,0.007964,0.003220,0.380888,0.098968,0.329512,-0.132755,-0.255445,0.458337,-0.114539,-0.123751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197130,-0.305543,-0.009216,-0.120965,0.833218,1.792980,0.167534,-0.495218,1.073186,-0.004099,-0.010019,...,-0.027500,-0.007125,0.228744,0.044916,0.200708,-0.132750,-0.255424,0.458337,-0.114536,-0.123746
197131,-0.305543,-0.008407,-0.090452,0.614726,1.471910,0.116636,-0.495218,0.818412,-0.010987,-0.008720,...,-0.004654,0.003267,-0.040966,-0.050903,-0.027626,-0.132756,-0.255449,0.458337,-0.114540,-0.123752
197132,-0.305543,-0.008486,0.679840,-0.836974,-0.567676,-0.218114,-0.495218,-0.809131,-0.010987,-0.009069,...,0.005908,0.001130,-0.010998,-0.040256,-0.002256,-0.132764,-0.255466,0.458337,-0.114545,-0.123756
197133,0.049666,-0.009909,-0.425903,-0.880939,-0.726252,-0.231790,-0.495115,-0.947358,-0.024762,-0.011354,...,-0.030583,-0.035968,-0.195415,-0.105774,-0.254985,0.383539,0.922010,0.458337,0.214222,0.135004
197134,-0.305543,-0.008130,0.671564,-0.851475,-0.603415,-0.220323,-0.495218,-0.831458,-0.007543,-0.008498,...,0.010906,0.017537,0.139993,0.013386,0.125572,-0.132762,-0.255461,0.458337,-0.114544,-0.123755

In [ ]:
print(X_train_un_paper.shape, X_test_un_paper.shape)

(197135, 22) (84487, 22)

#import lib

In [ ]:
from sklearn.model_selection import KFold
import time
from time import perf_counter
from sklearn.model_selection import cross_val_score
from statistics import mean
from sklearn.metrics import precision_score, recall_score , accuracy_score
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_predict
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report

In [ ]:
yy=le.inverse_transform(y_test)

In [ ]:
y_test[565]

3

In [ ]:
yy

array(['Reconnaissance', 'DoS', 'Reconnaissance', ..., 'DoS', 'DoS',
       'DoS'], dtype=object)

In [ ]:
def fitandeval(model, X_train , y_train,X_test , y_test):
  start=perf_counter()
  model.fit(X_train , y_train)
  end=perf_counter()
  build_time=(end-start)
  st=perf_counter()
  yhat=model.predict(X_test)
  ed=perf_counter()
  test_time=(ed-st)
  accuracy=accuracy_score(y_test , yhat)
  recall=recall_score(y_test , yhat,average='macro')
  precision=precision_score(y_test , yhat,average='macro')
  f1score=f1_score(y_test , yhat,average='macro')
  print(classification_report(y_test, yhat, target_names=['DDoS','DoS','Normal','Reconnaissance','Theft'], digits=4))



  return accuracy,recall,precision,f1score,build_time,test_time

##number of selected features

In [ ]:
dic1={"no of selected features":[("{0}".format(a)),("{0}".format(b)),("{0}".format(c)),
                                 ("{0}".format(d)),("{0}".format(e)),("{0}".format(f))]
     }

no_of_f = pd.DataFrame.from_dict( dic1 , orient='index')
no_of_f.columns=['method1_gini','method1_IG','method4_gini','method4_IG','intesection_paper','union_paper']
no_of_f = no_of_f.T
no_of_f

                  no of selected features
method1_gini                           12
method1_IG                             12
method4_gini                            8
method4_IG                              6
intesection_paper                      14
union_paper                            22

##fit SVM,KNN,XGB

###KNN

In [ ]:
start=time.time()
acc_method1_gini_KNN, recall_method1_gini_KNN , precision_method1_gini_KNN , f1score_method1_gini_KNN, build_time_method1_gini_KNN, test_time_method1_gini_KNN =fitandeval(model=KNeighborsClassifier(), X_train=X_train_method1_gini, y_train=y_train
                                                                              ,X_test=X_test_method1_gini, y_test=y_test)
end=time.time()
method1_gini_time_KNN=end-start

                precision    recall  f1-score   support

          DDoS     0.9993    0.9984    0.9989     30202
           DoS     0.9983    0.9994    0.9989     29967
        Normal     0.9645    0.9444    0.9544       144
Reconnaissance     0.9996    0.9997    0.9996     24155
         Theft     1.0000    0.7895    0.8824        19

      accuracy                         0.9990     84487
     macro avg     0.9924    0.9463    0.9668     84487
  weighted avg     0.9990    0.9990    0.9990     84487

In [ ]:
start=time.time()
acc_method1_IG_KNN, recall_method1_IG_KNN , precision_method1_IG_KNN , f1score_method1_IG_KNN, build_time_method1_IG_KNN, test_time_method1_IG_KNN =fitandeval(model=KNeighborsClassifier(), X_train=X_train_method1_IG, y_train=y_train
                                                                              ,X_test=X_test_method1_IG, y_test=y_test)
end=time.time()
method1_IG_time_KNN=end-start

                precision    recall  f1-score   support

          DDoS     0.9995    0.9982    0.9989     30202
           DoS     0.9981    0.9996    0.9989     29967
        Normal     0.9655    0.9722    0.9689       144
Reconnaissance     0.9997    0.9997    0.9997     24155
         Theft     1.0000    0.7895    0.8824        19

      accuracy                         0.9990     84487
     macro avg     0.9926    0.9518    0.9697     84487
  weighted avg     0.9990    0.9990    0.9990     84487

In [ ]:
start=time.time()
acc_method4_gini_KNN, recall_method4_gini_KNN , precision_method4_gini_KNN , f1score_method4_gini_KNN, build_time_method4_gini_KNN, test_time_method4_gini_KNN =fitandeval(model=KNeighborsClassifier(), X_train=X_train_method4_gini, y_train=y_train
                                                                              ,X_test=X_test_method4_gini, y_test=y_test)
end=time.time()
method4_gini_time_KNN=end-start

                precision    recall  f1-score   support

          DDoS     0.9996    0.9992    0.9994     30202
           DoS     0.9992    0.9996    0.9994     29967
        Normal     0.9580    0.9514    0.9547       144
Reconnaissance     0.9995    0.9997    0.9996     24155
         Theft     1.0000    0.6842    0.8125        19

      accuracy                         0.9993     84487
     macro avg     0.9913    0.9268    0.9531     84487
  weighted avg     0.9993    0.9993    0.9993     84487

In [ ]:
start=time.time()
acc_method4_IG_KNN, recall_method4_IG_KNN , precision_method4_IG_KNN , f1score_method4_IG_KNN, build_time_method4_IG_KNN, test_time_method4_IG_KNN =fitandeval(model=KNeighborsClassifier(), X_train=X_train_method4_IG, y_train=y_train
                                                                              ,X_test=X_test_method4_IG, y_test=y_test)
end=time.time()
method4_IG_time_KNN=end-start

                precision    recall  f1-score   support

          DDoS     0.9904    0.9924    0.9914     30202
           DoS     0.9922    0.9903    0.9912     29967
        Normal     0.9481    0.8889    0.9176       144
Reconnaissance     0.9989    0.9995    0.9992     24155
         Theft     0.8750    0.3684    0.5185        19

      accuracy                         0.9934     84487
     macro avg     0.9609    0.8479    0.8836     84487
  weighted avg     0.9933    0.9934    0.9933     84487

In [ ]:
start=time.time()
acc_int_paper_KNN, recall_int_paper_KNN , precision_int_paper_KNN, f1score_int_paper_KNN, build_time_int_paper_KNN, test_time_int_paper_KNN =fitandeval(model=KNeighborsClassifier(), X_train=X_train_int_paper, y_train=y_train
                                                                              ,X_test=X_test_int_paper, y_test=y_test)
end=time.time()
int_paper_time_KNN=end-start

                precision    recall  f1-score   support

          DDoS     0.9988    0.9978    0.9983     30202
           DoS     0.9975    0.9990    0.9982     29967
        Normal     0.9355    0.8056    0.8657       144
Reconnaissance     0.9985    0.9991    0.9988     24155
         Theft     1.0000    0.4737    0.6429        19

      accuracy                         0.9982     84487
     macro avg     0.9861    0.8550    0.9008     84487
  weighted avg     0.9981    0.9982    0.9981     84487

In [ ]:
start=time.time()
acc_un_paper_KNN, recall_un_paper_KNN , precision_un_paper_KNN, f1score_un_paper_KNN, build_time_un_paper_KNN, test_time_un_paper_KNN =fitandeval(model=KNeighborsClassifier(), X_train=X_train_un_paper, y_train=y_train
                                                                              ,X_test=X_test_un_paper, y_test=y_test)
end=time.time()
un_paper_time_KNN=end-start

                precision    recall  f1-score   support

          DDoS     0.9996    0.9991    0.9994     30202
           DoS     0.9988    0.9996    0.9992     29967
        Normal     0.9720    0.9653    0.9686       144
Reconnaissance     0.9997    0.9995    0.9996     24155
         Theft     1.0000    0.7895    0.8824        19

      accuracy                         0.9993     84487
     macro avg     0.9940    0.9506    0.9698     84487
  weighted avg     0.9993    0.9993    0.9993     84487

###XGB

In [ ]:
start=time.time()
acc_method1_gini_XGB, recall_method1_gini_XGB, precision_method1_gini_XGB , f1score_method1_gini_XGB, build_time_method1_gini_XGB, test_time_method1_gini_XGB =fitandeval(model=XGBClassifier(random_state=55), X_train=X_train_method1_gini, y_train=y_train
                                                                              ,X_test=X_test_method1_gini, y_test=y_test)
end=time.time()
method1_gini_time_XGB=end-start

                precision    recall  f1-score   support

          DDoS     0.9993    0.9988    0.9991     30202
           DoS     0.9988    0.9992    0.9990     29967
        Normal     0.9793    0.9861    0.9827       144
Reconnaissance     0.9997    0.9998    0.9997     24155
         Theft     0.9412    0.8421    0.8889        19

      accuracy                         0.9992     84487
     macro avg     0.9836    0.9652    0.9739     84487
  weighted avg     0.9992    0.9992    0.9992     84487

In [ ]:
start=time.time()
acc_method1_IG_XGB, recall_method1_IG_XGB, precision_method1_IG_XGB , f1score_method1_IG_XGB, build_time_method1_IG_XGB, test_time_method1_IG_XGB =fitandeval(model=XGBClassifier(random_state=55), X_train=X_train_method1_IG, y_train=y_train
                                                                              ,X_test=X_test_method1_IG, y_test=y_test)
end=time.time()
method1_IG_time_XGB=end-start

                precision    recall  f1-score   support

          DDoS     0.9988    0.9957    0.9973     30202
           DoS     0.9957    0.9988    0.9973     29967
        Normal     0.9792    0.9792    0.9792       144
Reconnaissance     0.9998    0.9999    0.9998     24155
         Theft     1.0000    0.8421    0.9143        19

      accuracy                         0.9980     84487
     macro avg     0.9947    0.9631    0.9776     84487
  weighted avg     0.9980    0.9980    0.9980     84487

In [ ]:
start=time.time()
acc_method4_gini_XGB, recall_method4_gini_XGB, precision_method4_gini_XGB , f1score_method4_gini_XGB, build_time_method4_gini_XGB, test_time_method4_gini_XGB =fitandeval(model=XGBClassifier(random_state=55), X_train=X_train_method4_gini, y_train=y_train
                                                                              ,X_test=X_test_method4_gini, y_test=y_test)
end=time.time()
method4_gini_time_XGB=end-start

                precision    recall  f1-score   support

          DDoS     0.9997    0.9950    0.9973     30202
           DoS     0.9950    0.9997    0.9973     29967
        Normal     0.9929    0.9653    0.9789       144
Reconnaissance     0.9997    1.0000    0.9998     24155
         Theft     0.9412    0.8421    0.8889        19

      accuracy                         0.9980     84487
     macro avg     0.9857    0.9604    0.9725     84487
  weighted avg     0.9980    0.9980    0.9980     84487

In [ ]:
start=time.time()
acc_method4_IG_XGB, recall_method4_IG_XGB, precision_method4_IG_XGB , f1score_method4_IG_XGB, build_time_method4_IG_XGB, test_time_method4_IG_XGB =fitandeval(model=XGBClassifier(random_state=55), X_train=X_train_method4_IG, y_train=y_train
                                                                              ,X_test=X_test_method4_IG, y_test=y_test)
end=time.time()
method4_IG_time_XGB=end-start

                precision    recall  f1-score   support

          DDoS     0.9959    0.9815    0.9886     30202
           DoS     0.9811    0.9955    0.9883     29967
        Normal     0.9922    0.8819    0.9338       144
Reconnaissance     0.9981    0.9991    0.9986     24155
         Theft     1.0000    0.5789    0.7333        19

      accuracy                         0.9912     84487
     macro avg     0.9935    0.8874    0.9285     84487
  weighted avg     0.9913    0.9912    0.9912     84487

In [ ]:
start=time.time()
acc_int_paper_XGB, recall_int_paper_XGB, precision_int_paper_XGB , f1score_int_paper_XGB, build_time_int_paper_XGB, test_time_int_paper_XGB =fitandeval(model=XGBClassifier(random_state=55), X_train=X_train_int_paper, y_train=y_train
                                                                              ,X_test=X_test_int_paper, y_test=y_test)
end=time.time()
int_paper_time_XGB=end-start

                precision    recall  f1-score   support

          DDoS     0.9990    0.9985    0.9988     30202
           DoS     0.9985    0.9991    0.9988     29967
        Normal     0.9922    0.8889    0.9377       144
Reconnaissance     0.9993    1.0000    0.9996     24155
         Theft     1.0000    0.7895    0.8824        19

      accuracy                         0.9989     84487
     macro avg     0.9978    0.9352    0.9634     84487
  weighted avg     0.9989    0.9989    0.9989     84487

In [ ]:
start=time.time()
acc_un_paper_XGB, recall_un_paper_XGB, precision_un_paper_XGB , f1score_un_paper_XGB, build_time_un_paper_XGB, test_time_un_paper_XGB =fitandeval(model=XGBClassifier(random_state=55), X_train=X_train_un_paper, y_train=y_train
                                                                              ,X_test=X_test_un_paper, y_test=y_test)
end=time.time()
un_paper_time_XGB=end-start

                precision    recall  f1-score   support

          DDoS     0.9992    0.9990    0.9991     30202
           DoS     0.9990    0.9992    0.9991     29967
        Normal     0.9929    0.9722    0.9825       144
Reconnaissance     0.9998    1.0000    0.9999     24155
         Theft     1.0000    0.8947    0.9444        19

      accuracy                         0.9993     84487
     macro avg     0.9982    0.9730    0.9850     84487
  weighted avg     0.9993    0.9993    0.9993     84487

###SVM

In [ ]:
start=time.time()
acc_method1_gini_SVM, recall_method1_gini_SVM, precision_method1_gini_SVM , f1score_method1_gini_SVM, build_time_method1_gini_SVM, test_time_method1_gini_SVM =fitandeval(model=SVC(random_state=55, C=1,gamma=1 ,kernel='rbf', verbose=True), X_train=X_train_method1_gini,y_train=y_train
                                                                              ,X_test=X_test_method1_gini, y_test=y_test)
end=time.time()
method1_gini_time_SVM=end-start

[LibSVM]                precision    recall  f1-score   support

          DDoS     0.9953    0.9912    0.9932     30202
           DoS     0.9911    0.9954    0.9932     29967
        Normal     0.9600    0.8333    0.8922       144
Reconnaissance     0.9989    0.9997    0.9993     24155
         Theft     1.0000    0.7895    0.8824        19

      accuracy                         0.9948     84487
     macro avg     0.9891    0.9218    0.9521     84487
  weighted avg     0.9948    0.9948    0.9948     84487

In [ ]:
start=time.time()
acc_method1_IG_SVM, recall_method1_IG_SVM, precision_method1_IG_SVM , f1score_method1_IG_SVM, build_time_method1_IG_SVM, test_time_method1_IG_SVM =fitandeval(model=SVC(random_state=55, C=1,gamma=1 , kernel='rbf', verbose=True), X_train=X_train_method1_IG,y_train=y_train
                                                                              ,X_test=X_test_method1_IG, y_test=y_test)
end=time.time()
method1_IG_time_SVM=end-start

[LibSVM]                precision    recall  f1-score   support

          DDoS     0.9758    0.9658    0.9708     30202
           DoS     0.9659    0.9764    0.9711     29967
        Normal     0.9845    0.8819    0.9304       144
Reconnaissance     0.9990    0.9992    0.9991     24155
         Theft     1.0000    0.7895    0.8824        19

      accuracy                         0.9789     84487
     macro avg     0.9850    0.9226    0.9508     84487
  weighted avg     0.9790    0.9789    0.9789     84487

In [ ]:
start=time.time()
acc_method4_gini_SVM, recall_method4_gini_SVM, precision_method4_gini_SVM , f1score_method4_gini_SVM, build_time_method4_gini_SVM, test_time_method4_gini_SVM =fitandeval(model=SVC(random_state=55, C=1,gamma=1 , kernel='rbf', verbose=True), X_train=X_train_method4_gini,y_train=y_train
                                                                              ,X_test=X_test_method4_gini, y_test=y_test)
end=time.time()
method4_gini_time_SVM=end-start

[LibSVM]                precision    recall  f1-score   support

          DDoS     0.9939    0.9866    0.9902     30202
           DoS     0.9866    0.9940    0.9903     29967
        Normal     0.9709    0.6944    0.8097       144
Reconnaissance     0.9976    0.9998    0.9987     24155
         Theft     1.0000    0.1579    0.2727        19

      accuracy                         0.9923     84487
     macro avg     0.9898    0.7666    0.8123     84487
  weighted avg     0.9923    0.9923    0.9922     84487

In [ ]:
start=time.time()
acc_method4_IG_SVM, recall_method4_IG_SVM, precision_method4_IG_SVM , f1score_method4_IG_SVM, build_time_method4_IG_SVM, test_time_method4_IG_SVM =fitandeval(model=SVC(random_state=55, C=1,gamma=1 , kernel='rbf', verbose=True), X_train=X_train_method4_IG,y_train=y_train
                                                                              ,X_test=X_test_method4_IG, y_test=y_test)
end=time.time()
method4_IG_time_SVM=end-start

[LibSVM]                precision    recall  f1-score   support

          DDoS     0.9706    0.9460    0.9582     30202
           DoS     0.9125    0.9723    0.9415     29967
        Normal     0.8137    0.9097    0.8590       144
Reconnaissance     0.9988    0.9494    0.9735     24155
         Theft     0.0000    0.0000    0.0000        19

      accuracy                         0.9560     84487
     macro avg     0.7391    0.7555    0.7464     84487
  weighted avg     0.9576    0.9560    0.9562     84487

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
start=time.time()
acc_int_paper_SVM, recall_int_paper_SVM, precision_int_paper_SVM , f1score_int_paper_SVM, build_time_int_paper_SVM, test_time_int_paper_SVM =fitandeval(model=SVC(random_state=55, C=1,gamma=1 , kernel='rbf', verbose=True), X_train=X_train_int_paper, y_train=y_train
                                                                              ,X_test=X_test_int_paper, y_test=y_test)
end=time.time()
int_paper_time_SVM=end-start

[LibSVM]                precision    recall  f1-score   support

          DDoS     0.9865    0.9766    0.9815     30202
           DoS     0.9713    0.9870    0.9791     29967
        Normal     0.7333    0.0764    0.1384       144
Reconnaissance     0.9937    0.9923    0.9930     24155
         Theft     1.0000    0.1053    0.1905        19

      accuracy                         0.9830     84487
     macro avg     0.9370    0.6275    0.6565     84487
  weighted avg     0.9827    0.9830    0.9823     84487

In [ ]:
start=time.time()
acc_un_paper_SVM, recall_un_paper_SVM, precision_un_paper_SVM , f1score_un_paper_SVM, build_time_un_paper_SVM, test_time_un_paper_SVM =fitandeval(model=SVC(random_state=55, C=1,gamma=1 , kernel='rbf', verbose=True), X_train=X_train_un_paper, y_train=y_train
                                                                              ,X_test=X_test_un_paper, y_test=y_test)
end=time.time()
un_paper_time_SVM=end-start

[LibSVM]                precision    recall  f1-score   support

          DDoS     0.9930    0.9876    0.9903     30202
           DoS     0.9874    0.9930    0.9902     29967
        Normal     0.9683    0.8472    0.9037       144
Reconnaissance     0.9990    0.9998    0.9994     24155
         Theft     1.0000    0.7895    0.8824        19

      accuracy                         0.9927     84487
     macro avg     0.9895    0.9234    0.9532     84487
  weighted avg     0.9927    0.9927    0.9927     84487

##Result Comparision

In [ ]:
dic4={"Accuracy":[("{:.6f}".format(acc_method1_gini_KNN)),("{:.6f}".format(acc_method1_IG_KNN)),
                  ("{:.6f}".format(acc_method4_gini_KNN)),("{:.6f}".format(acc_method4_IG_KNN)),
                  ("{:.6f}".format(acc_int_paper_KNN)), ("{:.6f}".format(acc_un_paper_KNN)),
                  ("{:.6f}".format(acc_method1_gini_XGB)),("{:.6f}".format(acc_method1_IG_XGB)),
                  ("{:.6f}".format(acc_method4_gini_XGB)),("{:.6f}".format(acc_method4_IG_XGB)),
                  ("{:.6f}".format(acc_int_paper_XGB)), ("{:.6f}".format(acc_un_paper_XGB)),
                  ("{:.6f}".format(acc_method1_gini_SVM)),("{:.6f}".format(acc_method1_IG_SVM)),
                  ("{:.6f}".format(acc_method4_gini_SVM)),("{:.6f}".format(acc_method4_IG_SVM)),
                  ("{:.6f}".format(acc_int_paper_SVM)), ("{:.6f}".format(acc_un_paper_SVM))
                  ],

      "Recall":[("{:.6f}".format(recall_method1_gini_KNN)),("{:.6f}".format(recall_method1_IG_KNN)),
                  ("{:.6f}".format(recall_method4_gini_KNN)),("{:.6f}".format(recall_method4_IG_KNN)),
                  ("{:.6f}".format(recall_int_paper_KNN)), ("{:.6f}".format(recall_un_paper_KNN)),
                  ("{:.6f}".format(recall_method1_gini_XGB)),("{:.6f}".format(recall_method1_IG_XGB)),
                  ("{:.6f}".format(recall_method4_gini_XGB)),("{:.6f}".format(recall_method4_IG_XGB)),
                  ("{:.6f}".format(recall_int_paper_XGB)), ("{:.6f}".format(recall_un_paper_XGB)),
                  ("{:.6f}".format(recall_method1_gini_SVM)),("{:.6f}".format(recall_method1_IG_SVM)),
                  ("{:.6f}".format(recall_method4_gini_SVM)),("{:.6f}".format(recall_method4_IG_SVM)),
                  ("{:.6f}".format(recall_int_paper_SVM)), ("{:.6f}".format(recall_un_paper_SVM)),
                  ],


      "Precision":[("{:.6f}".format(precision_method1_gini_KNN)),("{:.6f}".format(precision_method1_IG_KNN)),
                  ("{:.6f}".format(precision_method4_gini_KNN)),("{:.6f}".format(precision_method4_IG_KNN)),
                  ("{:.6f}".format(precision_int_paper_KNN)),("{:.6f}".format(precision_un_paper_KNN)),
                  ("{:.6f}".format(precision_method1_gini_XGB)),("{:.6f}".format(precision_method1_IG_XGB)),
                  ("{:.6f}".format(precision_method4_gini_XGB)),("{:.6f}".format(precision_method4_IG_XGB)),
                    ("{:.6f}".format(precision_int_paper_XGB)),("{:.6f}".format(precision_un_paper_XGB)),
                  ("{:.6f}".format(precision_method1_gini_SVM)),("{:.6f}".format(precision_method1_IG_SVM)),
                  ("{:.6f}".format(precision_method4_gini_SVM)),("{:.6f}".format(precision_method4_IG_SVM)),
                    ("{:.6f}".format(precision_int_paper_SVM)),("{:.6f}".format(precision_un_paper_SVM))],



      "F1_score":[("{:.6f}".format(f1score_method1_gini_KNN)),("{:.6f}".format(f1score_method1_IG_KNN)),
                  ("{:.6f}".format(f1score_method4_gini_KNN)),("{:.6f}".format(f1score_method4_IG_KNN)),
                  ("{:.6f}".format(f1score_int_paper_KNN)),("{:.6f}".format(f1score_un_paper_KNN)),
                  ("{:.6f}".format(f1score_method1_gini_XGB)),("{:.6f}".format(f1score_method1_IG_XGB)),
                  ("{:.6f}".format(f1score_method4_gini_XGB)),("{:.6f}".format(f1score_method4_IG_XGB)),
                  ("{:.6f}".format(f1score_int_paper_XGB)),("{:.6f}".format(f1score_un_paper_XGB)),
                  ("{:.6f}".format(f1score_method1_gini_SVM)),("{:.6f}".format(f1score_method1_IG_SVM)),
                  ("{:.6f}".format(f1score_method4_gini_SVM)),("{:.6f}".format(f1score_method4_IG_SVM)),
                  ("{:.6f}".format(f1score_int_paper_SVM)),("{:.6f}".format(f1score_un_paper_SVM))],


      "Time(s)":[("{:.6f}".format(method1_gini_time_KNN)),("{:.6f}".format(method1_IG_time_KNN)),
                  ("{:.6f}".format(method4_gini_time_KNN)),("{:.6f}".format(method4_IG_time_KNN)),
                  ("{:.6f}".format(int_paper_time_KNN)),("{:.6f}".format(un_paper_time_KNN)),
                  ("{:.6f}".format(method1_gini_time_XGB)),("{:.6f}".format(method1_IG_time_XGB)),
                  ("{:.6f}".format(method4_gini_time_XGB)),("{:.6f}".format(method4_IG_time_XGB)),
                  ("{:.6f}".format(int_paper_time_XGB)),("{:.6f}".format(un_paper_time_XGB)),
                  ("{:.6f}".format(method1_gini_time_SVM)),("{:.6f}".format(method1_IG_time_SVM)),
                  ("{:.6f}".format(method4_gini_time_SVM)),("{:.6f}".format(method4_IG_time_SVM)),
                  ("{:.6f}".format(int_paper_time_SVM)),("{:.6f}".format(un_paper_time_SVM))],


      "B_Time(s)":[("{:.6f}".format(build_time_method1_gini_KNN)),("{:.6f}".format(build_time_method1_IG_KNN)),
                  ("{:.6f}".format(build_time_method4_gini_KNN)),("{:.6f}".format(build_time_method4_IG_KNN)),
                   ("{:.6f}".format(build_time_int_paper_KNN)),("{:.6f}".format(build_time_un_paper_KNN)),
                  ("{:.6f}".format(build_time_method1_gini_XGB)),("{:.6f}".format(build_time_method1_IG_XGB)),
                  ("{:.6f}".format(build_time_method4_gini_XGB)),("{:.6f}".format(build_time_method4_IG_XGB)),
                   ("{:.6f}".format(build_time_int_paper_XGB)),("{:.6f}".format(build_time_un_paper_XGB)),
                  ("{:.6f}".format(build_time_method1_gini_SVM)),("{:.6f}".format(build_time_method1_IG_SVM)),
                  ("{:.6f}".format(build_time_method4_gini_SVM)),("{:.6f}".format(build_time_method4_IG_SVM)),
                   ("{:.6f}".format(build_time_int_paper_SVM)),("{:.6f}".format(build_time_un_paper_SVM))],

      "T_Time(s)":[("{:.6f}".format(test_time_method1_gini_KNN)),("{:.6f}".format(test_time_method1_IG_KNN)),
                  ("{:.6f}".format(test_time_method4_gini_KNN)),("{:.6f}".format(test_time_method4_IG_KNN)),
                   ("{:.6f}".format(test_time_int_paper_KNN)),("{:.6f}".format(test_time_un_paper_KNN)),
                  ("{:.6f}".format(test_time_method1_gini_XGB)),("{:.6f}".format(test_time_method1_IG_XGB)),
                  ("{:.6f}".format(test_time_method4_gini_XGB)),("{:.6f}".format(test_time_method4_IG_XGB)),
                    ("{:.6f}".format(test_time_int_paper_XGB)),("{:.6f}".format(test_time_un_paper_XGB)),
                  ("{:.6f}".format(test_time_method1_gini_SVM)),("{:.6f}".format(test_time_method1_IG_SVM)),
                  ("{:.6f}".format(test_time_method4_gini_SVM)),("{:.6f}".format(test_time_method4_IG_SVM)),
                    ("{:.6f}".format(test_time_int_paper_SVM)),("{:.6f}".format(test_time_un_paper_SVM)),],}


main_data = pd.DataFrame.from_dict( dic4 , orient='index')
main_data.columns=['method1_gini_KNN', 'method1_IG_KNN','method4_gini_KNN','method4_IG_KNN', 'int_paper_KNN', 'un_paper_KNN',
                   'method1_gini_XGB', 'method1_IG_XGB', 'method4_gini_XGB', 'method4_IG_XGB', 'int_paper_XGB', 'un_paper_XGB',
                   'method1_gini_SVM', 'method1_IG_SVM', 'method4_gini_SVM', 'method4_IG_SVM', 'int_paper_SVM', 'un_paper_SVM'
                   ]
main_data = main_data.T
main_data

,Accuracy,Recall,Precision,F1_score,Time(s),B_Time(s),T_Time(s)
method1_gini_KNN,0.998994,0.946286,0.992361,0.966825,5.815234,0.467235,5.164404
method1_IG_KNN,0.999029,0.951835,0.992579,0.969728,10.454499,0.407766,9.863705
method4_gini_KNN,0.999337,0.926823,0.991256,0.953116,3.351403,0.281176,2.877071
method4_IG_KNN,0.993360,0.847897,0.960912,0.883575,3.764947,0.227469,3.353838
int_paper_KNN,0.998154,0.855030,0.986052,0.900774,4.353956,0.482093,3.689793
un_paper_KNN,0.999302,0.950599,0.994026,0.969833,254.304013,0.017843,254.096851
method1_gini_XGB,0.999171,0.965203,0.983645,0.973871,50.001080,48.960493,0.857807
method1_IG_XGB,0.997952,0.963142,0.994693,0.977563,43.679552,42.610527,0.882947
method4_gini_XGB,0.998000,0.960408,0.985686,0.972456,36.690786,35.662756,0.840241
method4_IG_XGB,0.991218,0.887387,0.993468,0.928530,28.321667,27.149248,0.990762
int_paper_XGB,0.998887,0.935179,0.997802,0.963446,58.929815,57.754267,0.994138
un_paper_XGB,0.999266,0.973018,0.998166,0.984985,82.227546,81.095051,0.943541
method1_gini_SVM,0.994780,0.921806,0.989058,0.952059,119.413894,82.994658,36.237272
method1_IG_SVM,0.978920,0.922561,0.985049,0.950754,510.459246,413.146792,97.130129
method4_gini_SVM,0.992318,0.766551,0.989790,0.812333,132.377610,89.491274,42.706711
method4_IG_SVM,0.956029,0.755486,0.739124,0.746423,707.575811,540.889447,166.507243
int_paper_SVM,0.983039,0.627506,0.936972,0.656491,251.979500,171.353499,80.444637
un_paper_SVM,0.992685,0.923398,0.989532,0.953178,442.770244,375.833144,66.760884

In [ ]:
end_all=time.time()
time_all=end_all-start_all
time_all

2918.7940018177032